.noUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.noUser svg {
  font-size: 70px;
  position: relative;
}

.noUser .svg {
  position: relative;
}

.noUser .svg::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 55%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(50deg);
}

.isFavorate span svg {
  color: firebrick !important;
}

.placesHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
